* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-container {
    background: linear-gradient(to right, #4A90E2, #50C9C3);
    width: 100%;
    height: 100vh;
    padding: 10px;
    margin: 5px;
}

.heading {
    color: white;
    font-size: 20px;
}

.button {
    background-color: #f09c16;
    padding: 4px;
    color: black;
    border-radius: 4px;
    border-width: 0px;
}

.card {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border-width: 0px;
    padding: 20px;
    text-align: center;
    width: 100%;
}

.para {
    color: white;
    font-size: 15px;

}

.input {
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    border-width: 0px;
}
@media (min-width:728px){
    .bg-container {
        width:100%;
        margin:0px;

    }

    
}